@tailwind base;
@tailwind components;
@tailwind utilities;

/* font size  */

.text-display2Xl {
  font-size: 72px;
  line-height: 90px;
}
.text-displayXl {
  font-size: 60px;
  line-height: 72px;
}
.text-displayLg {
  font-size: 48px;
  line-height: 60px;
}
.text-displayMd {
  font-size: 36px;
  line-height: 44px;
}
.text-displaySm {
  font-size: 30px;
  line-height: 38px;
}
.text-Xl {
  font-size: 20px;
  line-height: 30px;
}
.text-Lg {
  font-size: 18px;
  line-height: 28px;
}
.text-Md {
  font-size: 16px;
  line-height: 24px;
}
.text-Sm {
  font-size: 14px;
  line-height: 20px;
}
.text-Xs {
  font-size: 12px;
  line-height: 16px;
}
.text-Xxs {
  font-size: 10px;
  line-height: 12px;
}

/* text gray  */

.text-gray-0 {
  color: #ffffff;
}
.text-gray-25 {
  color: #fcfcfd;
}
.text-gray-50 {
  color: #f9fafb;
}
.text-gray-100 {
  color: #f2f4f7;
}
.text-gray-200 {
  color: #e4e7ec;
}
.text-gray-300 {
  color: #d0d5dd;
}
.text-gray-400 {
  color: #98a2b3;
}
.text-gray-500 {
  color: #667085;
}
.text-gray-600 {
  color: #475467;
}
.text-gray-700 {
  color: #344054;
}
.text-gray-800 {
  color: #1d2939;
}
.text-gray-900 {
  color: #101828;
}
.text-gray-950 {
  color: #0c111d;
}

/* text blue  */

.text-blue-25 {
  color: #0c111d;
}
.text-blue-50 {
  color: #eff4ff;
}
.text-blue-100 {
  color: #e0eaff;
}
.text-blue-200 {
  color: #c7d7fe;
}
.text-blue-300 {
  color: #a4bcfd;
}
.text-blue-400 {
  color: #528bff;
}
.text-blue-500 {
  color: #6172f3;
}
.text-blue-600 {
  color: #444ce7;
}
.text-blue-700 {
  color: #3538cd;
}
.text-blue-800 {
  color: #2d31a6;
}
.text-blue-900 {
  color: #2d3282;
}
.text-blue-950 {
  color: #1f2358;
}
/* background  */

.bg-gray-0 {
  background-color: #ffffff;
}
.bg-gray-25 {
  background-color: #fcfcfd;
}
.bg-gray-50 {
  background-color: #f9fafb;
}
.bg-gray-100 {
  background-color: #f2f4f7;
}
.bg-gray-200 {
  background-color: #e4e7ec;
}
.bg-gray-300 {
  background-color: #d0d5dd;
}
.bg-gray-400 {
  background-color: #98a2b3;
}
.bg-gray-500 {
  background-color: #667085;
}
.bg-gray-600 {
  background-color: #475467;
}
.bg-gray-700 {
  background-color: #344054;
}
.bg-gray-800 {
  background-color: #1d2939;
}
.bg-gray-900 {
  background-color: #101828;
}
.bg-gray-950 {
  background-color: #0c111d;
}

.bg-blue-25 {
  background-color: #0c111d;
}
.bg-blue-50 {
  background-color: #eff4ff;
}
.bg-blue-100 {
  background-color: #e0eaff;
}
.bg-blue-200 {
  background-color: #c7d7fe;
}
.bg-blue-300 {
  background-color: #a4bcfd;
}
.bg-blue-400 {
  background-color: #528bff;
}
.bg-blue-500 {
  background-color: #6172f3;
}
.bg-blue-600 {
  background-color: #444ce7;
}
.bg-blue-700 {
  background-color: #3538cd;
}
.bg-blue-800 {
  background-color: #2d31a6;
}
.bg-blue-900 {
  background-color: #2d3282;
}
.bg-blue-950 {
  background-color: #1f2358;
}
